p, .tooltip {
  font-family: 'Raleway', serif;
  color: #222222;
}

body {
  background-color: #F2F5F7;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Cinzel', sans-serif;
  color: #525252;
}

h1 {
  font-size: 4rem;
  margin-bottom: 17px;
}

h1 span.titleFire {
  background: -webkit-linear-gradient(#ffbb30 10%, #FF5619 78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 span.titleAnd {
  font-size: 3.8rem;
}

h1 span.titleIce {
  background: -webkit-linear-gradient(#61dee3 10%, #2474DF 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  font-size: 1rem;
  margin-bottom: 0px;
}

a {
  /* likely should keep this the same color as the 'tableauIcon' color below */
  color: #2C3D6D;
}

a:hover {
  color: #5B87FF;
}

.footerLink:hover {
  fill: #5B87FF;
}

.main {
  margin: 2.5% 9% 7% 9%;
  padding: 1px 1% 10px 1%;
}

.main.headerSection {
  margin: 4.5% 9% 4% 9%;
}

.descMobile {
  display: none;
}
.descLine1, .descLine2 {
  display: inline-block;
}

@media (max-width: 1000px) {
  .main.headerSection {
    width: 77%;
  }
  .descMobile {
    display: inline-block;
  }
  .descLine1, .descLine2 {
    display: none;
  }
  #infoIcon .svg-inline--fa {
    font-size: 2.4rem;
  }
}

@media (max-width: 700px) {
  .main.headerSection {
    width: 68%;
  }
  #infoIcon .svg-inline--fa {
    font-size: 2.8rem;
  }
}


p.info {
  font-size: 2rem;
  width: 82%;
  background-color: none;
  position: absolute;
  text-align: right;
}

@media (max-width: 500px) {
  .main {
    margin-left: 4%;
    margin-right: 4%;
  }
  .main.headerSection {
    width: 78%;
    margin-left: 4%;
    margin-left: 4%;
  }
  p.info {
    width: 92%;
  }

}

.info .fa-info-circle {
  color: #626262;
}

.info .fa-info-circle:hover {
  color: #343434;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
}


.radialChart {
  text-align: center;
}

@media (max-width: 500px) {
  .main.radialChart {
    margin-left: 5%;
    margin-right: 5%;
  }
}

.area {
  fill:  #DADADA;
  fill-opacity:  .5;
}

.lineAverage {
  fill: none;
  stroke: url(#temperature-gradient);
}

.tick line {
  stroke: #E4E4E4;
}



path.monthLabel {
  fill: none;
  stroke: none;
}

text.monthLabel {
  font-family: 'Raleway', sans-serif;
  text-anchor: middle;
  color: #444444;
}

#gradRain .stop-left {stop-color: #87E0E9;}
#gradRain .stop-right {stop-color: #74B8C9;}

#gradHaze .stop-1 {stop-color: #2F2F2F30;}
#gradHaze .stop-2 {stop-color: #8C8C8C30;}
#gradHaze .stop-3 {stop-color: #B9B9B930;}
#gradHaze .stop-4 {stop-color: #C5C5C516;}

path.rain {
  opacity: 0.5;
  fill: url(#gradRain);
}

circle.haze {
  fill: url(#gradHaze);
}

line.snow {
  opacity: 0.8;
  stroke: #23A9DA;
  stroke-linecap: round;
}

path.snow {
  opacity: 0.8;
  fill: #23A9DA;
}

line.ice {
  opacity: 0.8;
  stroke: #238ADA;
  stroke-linecap: round;
}

path.ice {
  opacity: 0.8;
  fill: #238ADA;
}

line.wildfire {
  opacity: 0.8;
  stroke-linecap: round;
}

path.wildfire {
  opacity: 0.8;
}

line.wildfire.level1, path.fireIcon.level1 {
  stroke: #FFA865;
  fill: #FFA865;
}
line.wildfire.level2, path.fireIcon.level2 {
  stroke: #FF7D19;
  fill: #FF7D19;
}
line.wildfire.level3, path.fireIcon.level3 {
  stroke: #FF6A19;
  fill: #FF6A19;
}
line.wildfire.level4, path.fireIcon.level4 {
  stroke: #FF5619;
  fill: #FF5619;
}

line.annotation {
  stroke-width: 1;
  stroke: #666666;
}

.annotation {
  font-family: 'Raleway', serif;
  color: #222222;
}

.legendOverlay {
  opacity: 0;
}

.legend tspan {
  fill: white;
  font-family: 'Raleway', serif;
}

line.legend, line.legend.ice {
  stroke: white;
}

.tooltip {
  background: #6F6F6F;
  border: 0;
  border-radius: 4px;
  color: #f8f8f8;
  font-family: 'Raleway', sans-serif;
  font-size: 0.85rem;
  font-weight: 200;
  height: auto;
  padding: 3px;
  pointer-events: none;
  position: absolute;
}



/* Contact Me */
#contactMe {
  background-color: #F2F5F7;
  height: 180px;
}
