body, p, .tooltip {
  font-family: 'Quattrocento', serif;
  background-color: #f8f8f8;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Oswald', sans-serif;
}

h1 {
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 2rem;
}

h4 {
  margin-top: 10px;
  font-size: 0.83rem;
}

h5 {
  font-size: 0.83rem;
  font-weight: normal;
  margin-bottom: 0;
}

p {
  font-size: 0.83rem;
}

a {
  /* likely should keep this the same color as the 'tableauIcon' color below */
  color: #2C3D6D;
}

a:hover {
  color: #5B87FF;
}

.footerLink:hover {
  fill: #5B87FF;
}

.main {
  margin: 2.5% 9% 5% 9%;
  padding: 1px 1% 10px 1%;
}

@media (max-width: 500px) {
  .main {
    margin-left: 4%;
    margin-right: 4%;
  }
}


/* Force graph and loading animation */

body.gif {
  background-image: url("/orgchart/ForceTree.gif");
  height: 50vh; /* You must set a specified height */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.orgForce {
  margin: 0;
}

#forceGif {
  position: absolute;
  left: 0;      /* i'm not sure why this defaults to some other value */
  z-index: 10;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.whiteBox {
  position: absolute;
  left: 0;      /* i'm not sure why this defaults to some other value */
  z-index: 15;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
}


.formAnim {
  text-align: center;
  display: block;
}

.main.storyP {
  height: 40vh;
}

.main.storyP {
  text-align: center;
  margin: 25vh calc(33% - 100px) 10vh calc(33% - 100px);
}

.singleLine {
  background-color: #ffffffBB;
  display: none;
  font-size: 1.3rem;
  font-family: 'Quattrocento', serif;
}

@media (max-width: 540px) {
  .singleLine {
    font-size: 1rem;
  }
}




/* Org chart */

.mainSubheader p.desc {
  margin-bottom: 30px;
}

.mainSubheader p.desc.mobile {
  display: none;
}

@media (max-width: 700px) {
  .mainSubheader p.desc {
    display: none;
  }
  .mainSubheader p.desc.mobile {
    display: inline-block;
  }
}

#role1Gradient .stop-left {
  stop-color: #4C70D6;
}

#role1Gradient .stop-right {
  stop-color: #00A7E9;
}

#role2Gradient .stop-left {
  stop-color: #F58555;
}

#role2Gradient .stop-right {
  stop-color: #FCD441;
}

.orgChartArea {
  box-shadow: 0 0 5px #999999, 0 0 8px #CCCCCC;
  background-color: #FFFFFF;
}

.orgChartArea svg {
  padding: 1%;
}

/* Format the inputs/html form */
.roleForm {
  font-weight: normal;
  font-size: 0.83rem;
}

.orgChart .updateButton {
  font-weight: normal;
  font-size: 0.83rem;
  position: relative;
  bottom: 3px;
}

@media (max-width: 543px) {
  .orgChart .updateButton {
    margin-top: 7px;
  }
}


.inputRole1, .inputRole2 {
  width: 170px;
}

.inputRole1 {
  color:  #2688e2;
}

.inputRole2 {
  color: #ffa349;
}

.inputText {
  font-family: 'Oswald', serif;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.role1 .roleCountLg, .empCounts .role1, .role1.fte {
  fill: url(#role1Gradient);
  color: url(#role1Gradient);
}

.role2 .roleCountLg, .empCounts .role2, .role2.fte {
  fill: url(#role2Gradient);
  color: url(#role2Gradient);
}

.role1.etw {
  fill: #9EBEF2;
}
.role2.etw {
  fill: #FFDBAE;
}
.roleOther.fte {
  fill: #999999;
}
.roleOther.etw {
  fill: #CCCCCC;
}

/* Info icon / legend pop out */
p.info {
  font-size: 2rem;
  background-color: #ffffff00;
  text-align: right;
  margin-bottom: 0;
}


.info .fa-info-circle {
  color: #626262;
}

.info .fa-info-circle:hover {
  color: #343434;
}

@media (max-width: 1000px) {
  #infoIcon .svg-inline--fa {
    font-size: 2.4rem;
  }
}

@media (max-width: 700px) {
  #infoIcon .svg-inline--fa {
    font-size: 2.8rem;
  }
}

.legendPop {
  position: absolute;
  right: 9%;
  width: calc(15% + 200px);
  opacity: 0;
  text-align: center;
  background-color: white;
  box-shadow: 0 0 5px #999999, 0 0 8px #CCCCCC;
  pointer-events: none;
}
.legendContainer {
  width: 80%;
  margin: 10px;
  display: inline-block;
}
.legendCircles {
  width: 90%;
  margin: 10px;
}

.legendText {
  text-anchor: middle;
  font-size: 0.5rem;
}
.legendTextRole {
  text-anchor: left;
  font-size: 0.5rem;
}




/* Format the org chart */

.node circle {
  fill: #fff;
}

.node text {
  font: 11.5px sans-serif;
  font-family: 'Quattrocento', serif;
}

.link {
  fill: none;
  stroke: #e5e5e5;
  stroke-width: 2px;
}

.tooltip {
  background-color: #E5E5E5;
  border: 0;
  border-radius: 4px;
  font-size: 0.9rem;
  font-weight: 400;
  height: auto;
  letter-spacing: 0px;
  opacity: 0;
  padding: 3px 6px;
  pointer-events: none;
  position: absolute;
  text-align: left;
}



/* Role summary statistics */

.roleSummary h1 {
  margin-bottom: 30px;
}

.summaryGraphArea {
  background-color: white;
  box-shadow: 0 0 5px #999999, 0 0 8px #CCCCCC;
}

.summaryGraphArea .row {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.roleGraph {
  padding: 5px;
}

.roleGraph svg {
  position: relative;
  right: 5px;
}

.roleCountLg {
  font-size: 2.1rem;
  font-family: 'Oswald', sans-serif;
  transform: translate(10px,50px);
}

.roleCountDesc {
  font-size: 0.6rem;
  font-family: 'Quattrocento', serif;
  transform: translate(10px,68px);
}

.roleCountDesc.next {
  transform: translate(10px,83px);
}

.roleFtePct {
  font-size: 0.88rem;
  font-family: 'Oswald', sans-serif;
}

.teamFteLabel {
  font-family: 'Quattrocento', sans-serif;
  color: #222222;
  font-size: 0.5rem;
}

.role1Svg, .role2Svg, .roleTitleSvg {
  position: relative;
  right: 5px;
  margin: 2px 5px;
}

.roleGraph.titles g text {
  font-size: 0.35rem;
}

.roleGraph.titles .barTitle {
  font-size: 0.55rem;
  font-family: 'Oswald', sans-serif;
  transform: translate(10px,15px);
}

.roleGraph rect {
  opacity: 0.83;
}



/* Team cards */

.main.teamCards {
  margin-bottom: 2.5%;
}

.teamsTitle p {  /* description below section title */
  margin-bottom: 30px;
}

.buttonCont {
  padding-left: 0;
  margin-top: 48px;
  text-align: right;
}

.buttonCont .updateButton {
  margin-left: -11px;
}

@media (max-width: 767px) {
  .range-slider {
    margin: 13px 0 33px 0;
  }
  .buttonCont {
    margin: 25px 0 21px 0;
  }
  .teamsTitle p {  /* description below section title */
    margin-bottom: 0;
  }
}

.block {  /* individual team card div */
  background-color: white;
  margin-bottom: 30px;
  padding: 5px;
  box-shadow: 0 0 5px #999999, 0 0 8px #CCCCCC;
}

.block h5 {  /* display-name of leader */
  font-family: 'Quattrocento', serif;
  font-weight: bold;
  margin: 6px 6px 1.5px 6px;
  font-size: 0.9rem;
}

h5.titleText {  /* job title of leader */
  font-weight: 400;
  margin: 1.5px 6px;
  font-size: 0.78rem;
}

.teamGraphs {  /* main svg of individual team card */
  position: relative;
  right: 5px;
  bottom: 35px;
  margin-bottom: -25px;
}

.teamSizeLabel, .teamHeaders {
  font-family: 'Quattrocento', sans-serif;
  color: #222222;
  font-size: 0.4rem;
}

.teamSize, .empCounts {
  font-family: 'Oswald', sans-serif;
  color: #222222;
  font-size: 0.83rem;
}

.teamFte {
  font-family: 'Oswald', sans-serif;
  color: #222222;
  font-size: 0.5rem;
}

.teamGraphs .teamFteLabel {
  font-size: 0.35rem;
}

.tooltip .empName {
  font-family: 'Quattrocento', serif;
  font-weight: bold;
  font-size: 0.9rem;
}

.tooltip .titleText {
  font-weight: 400;
  font-size: 0.78rem;
}

.teamCards g path {
  opacity: 0.83;
}


/* Contact Me */
#contactMe {
  background-color: #f8f8f8;
  height: 180px;
}



.tableauIcon {
  /* likely should keep this the same color as the 'a' color above */
  fill: #2C3D6D;
}
