body, p, .tooltip {
  font-family: 'Quattrocento', serif;
  color: #222222;
  background-color: #f8f8f8;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  color: #222222;
}

h1 {
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 2rem;
}

h4 {
  margin-top: 10px;
  font-size: 0.83rem;
}

h5 {
  font-size: 0.83rem;
  font-weight: normal;
  margin-bottom: 0rem;
}

p {
  font-size: 0.83rem;
}

a {
  /* likely should keep this the same color as the 'tableauIcon' color below */
  color: #2C3D6D;
}

a:hover {
  color: #5B87FF;
}

.footerLink:hover {
  fill: #5B87FF;
}

.main {
  margin: 2.5% 9% 7% 9%;
  padding: 1px 1% 10px 1%;
}

.orgForce {
  margin: 0%;
}

#forceGif {
  position: absolute;
  left: 0;      /* i'm not sure why this defaults to some other value */
  z-index: 10;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.whiteBox {
  position: absolute;
  left: 0;      /* i'm not sure why this defaults to some other value */
  z-index: 15;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
}

.orgChartArea {
  box-shadow: 0 0 5px #999999, 0 0 8px #CCCCCC;
  background-color: #FFFFFF;
}

.orgChartArea svg {
  padding: 1%;
}

/* Format the inputs/html form */
.roleForm {
  font-weight: normal;
  font-size: 0.83rem;
}

.updateButton {
  font-weight: normal;
  font-size: 0.83rem;
  position: relative;
  bottom: 3px;
}

.inputText {
  font-family: 'Oswald', serif;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.inputRole1 {
  color:#4C70D6;
}

.inputRole2 {
  color:#FDA943;
}


/* Format the org chart */
.orgChartArea {
  margin-top: 30px;
}

.node circle {
  fill: #fff;
}

.node text {
  font: 11.5px sans-serif;
  font-family: 'Quattrocento', serif;
}

.link {
  fill: none;
  stroke: #e5e5e5;
  stroke-width: 2px;
}

.tooltip {
  background-color: #E5E5E5;
  border: 0;
  border-radius: 4px;
  font-size: 0.9rem;
  font-weight: 400;
  height: auto;
  letter-spacing: 0px;
  padding: 3px 6px;
  pointer-events: none;
  position: absolute;
  text-align: left;
}


/* Role summary statistics */

.summaryGraphArea {
  height: 400px;
  background-color: white;
  box-shadow: 0 0 5px #999999, 0 0 8px #CCCCCC;
}

/* Team cards */

.main p {
  margin-bottom: 30px;
}

.block {
  background-color: white;
  margin-bottom: 30px;
  padding: 5px;
  box-shadow: 0 0 5px #999999, 0 0 8px #CCCCCC;
}

.block h5 {
  font-family: 'Quattrocento', serif;
  font-weight: bold;
  margin: 6px 6px 1.5px 6px;
  font-size: 0.9rem
}

h5.leaderTitle {
  font-weight: 400;
  margin: 1.5px 6px;
  font-size: 0.78rem;
  /* font-style: italic; */
}

.teamGraphs {
  position: relative;
  right: 5px;
  bottom: 35px;
  margin-bottom: -25px;
}


.teamSizeLabel {
  font-family: 'Quattrocento', sans-serif;
  color: #222222;
  font-size: 0.4rem;
}

.teamSize {
  font-family: 'Oswald', sans-serif;
  color: #222222;
  font-size: 0.83rem;
}

.teamFte {
  font-family: 'Oswald', sans-serif;
  color: #222222;
  font-size: 0.55rem;
}

.teamFteLabel {
  font-family: 'Quattrocento', sans-serif;
  color: #222222;
  font-size: 0.4rem;
}

/* Contact Me */
#contactMe {
  background-color: #f8f8f8;
  height: 200px;
  padding: 60px 12%;
  text-align: center;
}

#contactMe a {
  padding: 26px;
  font-size: 1.4rem;
}

.tableauLink {
  position: relative;
  bottom: 3px;
}

.tableauIcon {
  /* likely should keep this the same color as the 'a' color above */
  fill: #2C3D6D;
}
