body, p, .tooltip {
  font-family: 'Quattrocento', serif;
  color: #222222;
  background-color: #f8f8f8;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  color: #222222;
}

h1 {
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 2rem;
}

h4 {
  margin-top: 10px;
  font-size: 0.83rem;
}

h5 {
  font-size: 0.83rem;
  font-weight: normal;
  margin-bottom: 0;
}

p {
  font-size: 0.83rem;
}

a {
  /* likely should keep this the same color as the 'tableauIcon' color below */
  color: #2C3D6D;
}

a:hover {
  color: #5B87FF;
}

.footerLink:hover {
  fill: #5B87FF;
}

.main {
  margin: 2.5% 9% 5% 9%;
  padding: 1px 1% 10px 1%;
}


/* Force graph and loading animation */

body.gif {
  background-image: url("/orgchart/ForceTree.gif");
  height: 500px; /* You must set a specified height */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.orgForce {
  margin: 0;
}

#forceGif {
  position: absolute;
  left: 0;      /* i'm not sure why this defaults to some other value */
  z-index: 10;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.whiteBox {
  position: absolute;
  left: 0;      /* i'm not sure why this defaults to some other value */
  z-index: 15;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
}


/* Org chart */


#role1Gradient .stop-left {
  stop-color: #4C70D6;
}

#role1Gradient .stop-right {
  stop-color: #00A7E9;
}

#role2Gradient .stop-left {
  stop-color: #F58555;
}

#role2Gradient .stop-right {
  stop-color: #FCD441;
}

.orgChartArea {
  box-shadow: 0 0 5px #999999, 0 0 8px #CCCCCC;
  background-color: #FFFFFF;
}

.orgChartArea svg {
  padding: 1%;
}

/* Format the inputs/html form */
.roleForm {
  font-weight: normal;
  font-size: 0.83rem;
}

.updateButton {
  font-weight: normal;
  font-size: 0.83rem;
  position: relative;
  bottom: 3px;
}


.inputRole1, .inputRole2 {
  color:transparent;
  width: 200px;
}

.inputRole1::placeholder {
  background: linear-gradient(90deg, #4C70D6, #00A7E9);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.inputRole1:not(:placeholder-shown)  {
  background: linear-gradient(90deg, #4C70D6, #00A7E9);
  -webkit-background-clip: text, padding-box;
          background-clip: text, padding-box;
  -webkit-text-fill-color: transparent;
}

.inputRole2::placeholder {
  background: linear-gradient(90deg, #F58555, #FCD441);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.inputRole2:not(:placeholder-shown)  {
  background: linear-gradient(90deg, #F58555, #FCD441);
  -webkit-background-clip: text, padding-box;
          background-clip: text, padding-box;
  -webkit-text-fill-color: transparent;
}



.inputText {
  font-family: 'Oswald', serif;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.inputRole1, .role1 .roleCountLg, .empCounts .role1, .role1.fte {
  fill: url(#role1Gradient);
  color: url(#role1Gradient);
}

.inputRole2, .role2 .roleCountLg, .empCounts .role2, .role2.fte {
  fill: url(#role2Gradient);
  color: url(#role2Gradient);
}

.role1.etw {
  fill: #9EBEF2;
}

.role2.etw {
  fill: #FFDBAE;
}



/* Format the org chart */
.orgChartArea {
  margin-top: 30px;
}

.node circle {
  fill: #fff;
}

.node text {
  font: 11.5px sans-serif;
  font-family: 'Quattrocento', serif;
}

.link {
  fill: none;
  stroke: #e5e5e5;
  stroke-width: 2px;
}

.tooltip {
  background-color: #E5E5E5;
  border: 0;
  border-radius: 4px;
  font-size: 0.9rem;
  font-weight: 400;
  height: auto;
  letter-spacing: 0px;
  opacity: 0;
  padding: 3px 6px;
  pointer-events: none;
  position: absolute;
  text-align: left;
}


/* Role summary statistics */

.summaryGraphArea {
  background-color: white;
  box-shadow: 0 0 5px #999999, 0 0 8px #CCCCCC;
}

.summaryGraphArea .row {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.roleGraph {
  padding: 5px;
}

.roleGraph svg {
  position: relative;
  right: 5px;
}

.roleCountLg {
  font-size: 2.1rem;
  font-family: 'Oswald', sans-serif;
  transform: translate(10px,50px);
}

.roleCountDesc {
  font-size: 0.6rem;
  font-family: 'Quattrocento', serif;
  transform: translate(10px,68px);
}

.roleCountDesc.next {
  transform: translate(10px,83px);
}

.roleFtePct {
  font-size: 0.88rem;
  font-family: 'Oswald', sans-serif;
}

.teamFteLabel {
  font-family: 'Quattrocento', sans-serif;
  color: #222222;
  font-size: 0.5rem;
}

.role1Svg, .role2Svg, .roleTitleSvg {
  position: relative;
  right: 5px;
  margin: 2px 5px;
}

.roleGraph.titles g text {
  font-size: 0.35rem;
}

.roleGraph.titles .barTitle {
  font-size: 0.55rem;
  font-family: 'Oswald', sans-serif;
  transform: translate(10px,15px);
}

rect.dt {
  opacity: 0.8;
}



/* Team cards */

.main.teamCards {
  margin-bottom: 2.5%;
}

.main p {  /* description below section title */
  margin-bottom: 30px;
}

.block {  /* individual team card div */
  background-color: white;
  margin-bottom: 30px;
  padding: 5px;
  box-shadow: 0 0 5px #999999, 0 0 8px #CCCCCC;
}

.block h5 {  /* display-name of leader */
  font-family: 'Quattrocento', serif;
  font-weight: bold;
  margin: 6px 6px 1.5px 6px;
  font-size: 0.9rem;
}

h5.titleText {  /* job title of leader */
  font-weight: 400;
  margin: 1.5px 6px;
  font-size: 0.78rem;
}

.teamGraphs {  /* main svg of individual team card */
  position: relative;
  right: 5px;
  bottom: 35px;
  margin-bottom: -25px;
}

.teamSizeLabel, .teamHeaders {
  font-family: 'Quattrocento', sans-serif;
  color: #222222;
  font-size: 0.4rem;
}

.teamSize, .empCounts {
  font-family: 'Oswald', sans-serif;
  color: #222222;
  font-size: 0.83rem;
}

.teamFte {
  font-family: 'Oswald', sans-serif;
  color: #222222;
  font-size: 0.5rem;
}

.teamGraphs .teamFteLabel {
  font-size: 0.35rem;
}

.tooltip .empName {
  font-family: 'Quattrocento', serif;
  font-weight: bold;
  font-size: 0.9rem;
}

.tooltip .titleText {
  font-weight: 400;
  font-size: 0.78rem;
}

.teamCards g path {
  opacity: 0.8;
}


/* Contact Me */
#contactMe {
  background-color: #f8f8f8;
  height: 200px;
  padding: 60px 12%;
  text-align: center;
}

#contactMe a {
  padding: 26px;
  font-size: 1.4rem;
}

.tableauLink {
  position: relative;
  bottom: 3px;
}

.tableauIcon {
  /* likely should keep this the same color as the 'a' color above */
  fill: #2C3D6D;
}
