/* This code from Sean Stopnik - I made minor edits to the styling */

*, *:before, *:after {
	 box-sizing: border-box;
}
 .range-slider {
	 margin: 45px 0 0 0%;
}
 .range-slider {
	 width: 100%;
}
 .range-slider__range {
	 -webkit-appearance: none;
	 width: calc(100% - (53px));
	 height: 7px;
	 border-radius: 3.5px;
	 background: #ddd;
	 outline: none;
	 padding: 0;
	 margin: 0;
}
 .range-slider__range::-webkit-slider-thumb {
	 appearance: none;
	 width: 14px;
	 height: 14px;
	 border-radius: 50%;
	 background: #444444;
	 cursor: pointer;
	 transition: background 0.15s ease-in-out;
}
 .range-slider__range::-webkit-slider-thumb:hover {
	 background: #1abc9c;
}
 .range-slider__range:active::-webkit-slider-thumb {
	 background: #1abc9c;
}
 .range-slider__range::-moz-range-thumb {
	 width: 14px;
	 height: 14px;
	 border: 0;
	 border-radius: 50%;
	 background: #444444;
	 cursor: pointer;
	 transition: background 0.15s ease-in-out;
}
 .range-slider__range::-moz-range-thumb:hover {
	 background: #1abc9c;
}
 .range-slider__range:active::-moz-range-thumb {
	 background: #1abc9c;
}
 .range-slider__range:focus::-webkit-slider-thumb {
	 box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c;
}

@media (max-width: 700px) {
	.range-slider__range::-webkit-slider-thumb {
		width: 19px;
 	 	height: 19px;
	}
	.range-slider__range:focus::-webkit-slider-thumb {
		box-shadow: 0 0 0 4px #fff, 0 0 0 7px #1abc9c;
 	}
 	.range-slider__range::-moz-range-thumb {
		width: 19px;
 		height: 19px;
 	}
}


 .range-slider__value {
	 display: inline-block;
	 position: relative;
	 width: 34px;
	 color: #fff;
	 line-height: 13px;
	 font-family: 'Quattrocento', serif;
	 font-size: 0.9rem;
	 text-align: center;
	 border-radius: 3px;
	 background: #444444;
	 padding: 5px 6px;
	 margin-left: 5px;
}
 .range-slider__value:after {
	 position: absolute;
	 top: 5px;
	 left: -7px;
	 width: 0;
	 height: 0;
	 border-top: 7px solid transparent;
	 border-right: 7px solid #444444;
	 border-bottom: 7px solid transparent;
	 content: '';
}
 ::-moz-range-track {
	 background: #ddd;
	 border: 0;
}
 input::-moz-focus-inner, input::-moz-focus-outer {
	 border: 0;
}
