
h2 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}



/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
}

.section-title p {
  margin-bottom: 0;
}



/*--------------------------------------------------------------
# Navigation bar
--------------------------------------------------------------*/

.ml-auto, .mx-auto {
    margin-left: auto!important;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  padding: 0 12px;
}

.navbar-light .navbar-brand {
    color: rgba(0,0,0,.5);
}

.nav-item {
  padding: 0 8px;
}

.nav-link {
  font-size: 0.9rem;
  font-family: "Raleway", sans-serif;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-brand:hover {
  color: #5B87FF;
}



/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background-color: white;
  text-align: center;
  line-height: 1;
  height: 100vh;
  padding: 2% 12% calc(5% + 30px) 12%;
}

.introText {
  font-size: 2.5rem;
  line-height: 1.5;
  margin-top: 10%;
  pointer-events: none;
  position: absolute;
  top: 24%;
  left: 50%;
  transform: translateX(-50%);
}


/* If I figure out how to implement it, these are the settings for a great fallback font: */
/* font-family: Tahoma
font-size: 26px
line-height: 2.3
letter-spacing: 0.15px; */


/* D3 viz animation */
.canvas {
  position: relative;
  height: 80%;
}

/* this div will be layered directly on top of the "canvas" div */
.canvasForce {
  position: relative;
  height: 80%;
  bottom: 80%; /* shift up by the height of the "canvas" element */
}

#grad01 .stop-left {stop-color: #FFEE88;}
#grad01 .stop-right {stop-color: #FFE06E;}
#grad02 .stop-left {stop-color: #ffcc6d;}
#grad02 .stop-right {stop-color: #FFB751;}
#grad03 .stop-left {stop-color: #FFAC69;}
#grad03 .stop-right {stop-color: #FF9751;}
#grad04 .stop-left {stop-color: #ff9473;}
#grad04 .stop-right {stop-color: #FF7C5E;}
#grad05 .stop-left {stop-color: #fe8187;}
#grad05 .stop-right {stop-color: #FE707E;}
#grad06 .stop-left {stop-color: #E37FD8;}
#grad06 .stop-right {stop-color: #E374DC;}
#grad07 .stop-left {stop-color: #ad8aff;}
#grad07 .stop-right {stop-color: #9875FF;}
#grad08 .stop-left {stop-color: #7C97FF;}
#grad08 .stop-right {stop-color: #638DFF;}
#grad09 .stop-left {stop-color: #66B9FF;}
#grad09 .stop-right {stop-color: #4ABDFF;}
#grad10 .stop-left {stop-color: #77DBFD;}
#grad10 .stop-right {stop-color: #56E4FD;}
#grad11 .stop-left {stop-color: #83E8D0;}
#grad11 .stop-right {stop-color: #66E8BD;}
#grad12 .stop-left {stop-color: #C3E6A6;}
#grad12 .stop-right {stop-color: #BFE68C;}


/* be careful with this one - as adjustments are made to the viz, will need to check
and make sure the svg is still positioned well */
.canvas svg, .canvasForce svg {
  overflow: visible;
}


/* for particularly wide screens, shrink the canvas so it fits on the screen */
@media only screen and (min-aspect-ratio: 5/3) {
  .svgContain {
    width: 84%;
    margin: auto;
  }
}


/* for smaller screens, move the d3 animation below the intro text */
/* note that the "top" adjustment and the "bottom" adjustments both add up to 80% - this keeps the two canvases overlapping */
@media (max-width: 800px) {
  .introText {
    font-size: 2rem;
    top: 18%;
  }
  .canvas {
    position: relative;
    top: 36%;
  }
  .canvasForce {
    position: relative;
    bottom: 44%;
  }
}

@media (max-width: 430px) {
  .introText {
    font-size: 1.7rem;
    top: 18%;
  }
  .canvas {
    position: relative;
    top: 36%;
  }
  .canvasForce {
    position: relative;
    bottom: 44%;
  }
}





/*--------------------------------------------------------------
# About Me
--------------------------------------------------------------*/
#aboutMe {
  background-image: linear-gradient(#DEEEFF, #DEE1FF);
  padding: calc(5% + 30px) 12%;
  box-shadow: 0 0 5px #AAAAAA, 0 0 8px #D5D5D5;
}

.photoOfMe {
  border-radius: 100%;
  width: 260px;
  position: relative;
  margin-right: 70px;
  margin-bottom: 10px;
}

#aboutMe .section-title {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

#aboutMe .last {
  margin-bottom: 0;
}

.skillRow.container {
  display: flex;
  flex-direction: row;
}


@media (max-width: 800px) {
  .skillRow.container {
    flex-direction: column;
  }
  #aboutMe .section-title {
    text-align: center;
  }
  #aboutMe p {
    text-align: center;
  }
  .aboutMePhoto {
    text-align: center;
  }
  .photoOfMe {
    margin: 0 auto 50px auto;
    width: 200px;
  }
}



/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/

#portfolio {
  padding: calc(5% + 30px) 12%;
}

#portfolio .section-title {
  text-align: center;
}

.portfolio-info a {
  text-decoration: none;
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  background: #fff;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: #272829;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  color: #5B87FF;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(69, 80, 91, 0.8);
  box-shadow: 0 0 5px #999999, 0 0 8px #CCCCCC;
}

.portfolio .portfolio-wrap.white-background {
  background: rgba(255, 255, 255, 0.8);
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.81);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 26px;
  color: #45505b;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: #45505b;
  font-size: 14px;
  padding: 5px;
  margin: 0;
}

.portfolio .portfolio-wrap .portfolio-info p.tech {
  text-transform: uppercase;
}

.portfolio .portfolio-wrap .portfolio-info p.desc {
  font-family: 'Raleway', sans-serif;
}


.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links i {
  color: #45505b;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links i:hover {
  color: #5B87FF;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}

.content-banner {
  position: absolute;
  left: 0;
}

.gslide-media.gslide-image {
  box-shadow: 0 0 5px #999999, 0 0 8px #CCCCCC;
  z-index: 2000000;
}

.dark {
  opacity: 0.9;
}

.darker {
  opacity: 0.82;
}

.portfolio-links.wonkyL {
  position: relative;
  right: 1.2rem;
}

.portfolio-links.wonkyR {
  position: relative;
  left: 1.2rem;
  bottom: 2rem;
  margin-bottom: -2rem;
}


/* Shrink the text sizes (and spacing) when the cards are small */
@media (min-width: 992px) and (max-width: 1175px) {
  .portfolio .portfolio-wrap .portfolio-info h4 {
    font-size: 19px;
    margin-bottom: 0.38rem;
  }
  .portfolio .portfolio-wrap .portfolio-info p.desc, .portfolio .portfolio-wrap .portfolio-info p.tech {
    font-size: 12px;
    padding: 2px;
  }
  .portfolio .portfolio-wrap .portfolio-info i {
    font-size: 19px;
  }
  .portfolio-links.wonkyL {
    right: 0.8rem;
  }
  .portfolio-links.wonkyR {
    left: 0.8rem;
    bottom: 1.5rem;
    margin-bottom: -1.5rem;
  }
}

@media (max-width: 367px) {
  .portfolio .portfolio-wrap .portfolio-info h4 {
    font-size: 19px;
    margin-bottom: 0.38rem;
  }
  .portfolio .portfolio-wrap .portfolio-info p.desc, .portfolio .portfolio-wrap .portfolio-info p.tech {
    font-size: 12px;
    padding: 2px;
  }
  .portfolio .portfolio-wrap .portfolio-info i {
    font-size: 19px;
  }
  .portfolio-links.wonkyL {
    right: 0.8rem;
  }
  .portfolio-links.wonkyR {
    left: 0.8rem;
    bottom: 1.5rem;
    margin-bottom: -1.5rem;
  }
}







/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/

#testimonial-carousel, .carousel-inner.heidis-carousel  {
  background-image: linear-gradient(#DEEEFF, #DEE1FF);
  box-shadow: 0 0 5px #AAAAAA, 0 0 8px #D5D5D5;
  height: 330px;
}

@media (max-width: 800px) {
  #testimonial-carousel, .carousel-inner.heidis-carousel  {
    height: 360px;
  }
  .portfolio #portfolio-flters li {
    padding: 10px 8px;
  }
  .portfolio #portfolio-flters {
    padding: 2px 0;
  }
}

@media (max-width: 390px) {
  .portfolio #portfolio-flters li {
    padding: 10px 4px;
  }
}

#testimonials {
  padding-top: 10px;
}

.heidis-carousel .carousel-item {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.active.carousel-item-left, .carousel-item-prev:not(.carousel-item-right) {
  -webkit-transform: translate(-100%,-50%);
  transform: translate(-100%,-50%);
}
.active.carousel-item-right, .carousel-item-next:not(.carousel-item-left) {
  -webkit-transform: translate(100%,-50%);
  transform: translate(100%,-50%);
}

.testimonial-text {
  font-size: 1.1rem;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  line-height: 1.5;
}

.testimonial-author {
  font-size: 1.1rem;
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  font-weight: bold;
}


.carousel-item {
  font-size: 1rem;
  padding: 0% 12% 0% calc(12% + 90px);
}

.quote {
  position: absolute;
  font-size: 8rem;
  color: #85A0EA;
  opacity: 0.4;
  font-family: 'Proza Libre', sans-serif;
  left: 12%;

}

@media (max-width: 600px) {
  .testimonial-text, .testimonial-author {
    font-size: 1.01rem;
  }
  .quote {
    font-size: 6.5rem;
  }
  .carousel-item {
    padding-left: calc(12% + 70px);
  }
}

.carousel-control-prev, .carousel-control-next {
  opacity: 1;
}




/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  width: 100%;
  background: #fff;
}

.contact .info i {
  font-size: 20px;
  color: #0563bb;
  float: left;
  width: 44px;
  height: 44px;
  background: #eef7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #45505b;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #728394;
}

.contact .info .email, .contact .info .phone {
  margin-top: 40px;
}

.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  background: #0563bb;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  background: #fff;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
  background: #0563bb;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #0678e3;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}




@media (max-width: 500px) {
  #header, #aboutMe, #portfolio {
    padding-left: 3%;
    padding-right: 3%;
  }
}

/* not clear why, but for some reason this section is needed to get 'Pompiere' font to show up on Firefox */
@font-face {
  font-family: "Raleway script=all rev=1"; src: url("https://fonts.gstatic.com/l/font?kit=1Ptug8zYS_SKggPN-C8CSKlvN0Sb5XoxxYWpNp0VDhtw7-GVUBN0tDQ-67CvTk-woiU_UymhWc6uZamsR35zmHRfyzWjoiw7o7kw5Cy088v_T6WrQ2XcRWAzJTTgukaVqjA8PQJqdFi1ilVbebFIF71mYrPQCLorAa4hBYx769_zJyZEfk3VhmaBGl52VPzym3VOl_rqQJBim4QbO5jMGnIYQFAlgGTH9CJb8xs4_pLVjMlwCWbx0X0hdNf25Qs_1RcTNllUZeNFdreHJ-G304Im9ziUeHgA62bBFTOOi5zV36XW80-Jwos_j07sTJLOnwju4mE9uDE_63Th-Iu1dR5JD1LqSKaYSFmbPtcky_VG59BTKPMvayZrx8vfaSEf2lOjjUQlZwnS7rnByXdUKZJt0iEoNxp_KyAEUilT_kCop6QLEFBvSeo_Dm7cLPCOfNBUcBmUiIN-YFn12OT3tLpPeHoqz2CUObs40kvm_PyN8DNH36afaDLSnuauNgk8094p8qW7zadeNAySN_DNvUykwUmnIzsrdI4hiq-M8DBVliOVF7xMCnKGdd9W00uXO-40thQ0UePfnP8eYMxNX3rziZvjvDd1oZyXURMo5knNN0TgMVcOQ6-GPI6yDcEtjb9MpNg3i5KENOxQEz6TIHM_RxvvnOJiTd5oizJOO48qt__DOH8zVc1DRObnO7jvQiNsP7TLvXwsDdbQp99-0ONhWdpJBZa9z9IN5W7KZwQCT4A88SsmP0rXDvQZWARvxwLLeJSIhV9XtzjE9VhkvygGq_ANRwm1DBu6dLmiizVZCW247qetoNTlSPK9JsUIXDubXyWzAuiSJ7t6MzVoG72vVxdy111am4RSF0jddFWCy3wuQQk20bu0HjhWmpwkibsypI3o7V_-jUpXu0mrIs_Gcbzzrjm_64QG1nfz56JRA52B16QRp9s&skey=30a27f2564731c64&v=v22") format("woff2");
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
}
