body {
  color: #f5f5f5;
  background-color: #1d1d1d;
  /* background-color: #ffffff; */
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 0.9rem;
}

h1 {
  margin-bottom: 40px;
  font-size: 4rem;
  font-family: 'Lancelot', sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-family: 'Lancelot', sans-serif;
  color: #f5f5f5;
}


h3 {
  font-size: 1.4rem;
  font-family: 'Lancelot', sans-serif;
  color: #f5f5f5;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #444444;
  border-width: 7px;
  width: 7%;
  margin: 90px auto;
}

a {
  color: #EED8AD;
}


a:hover {
  color: #EEB547;
  text-decoration: none;
}

.main {
  padding: 0 10%;
}

.title {
  margin-bottom: 70px;
  padding-top: 70px;
}

.intro {
  margin-bottom: 40px;
  font-size: 1.1rem;
}

.d3content {
  margin: auto 0;
}

.container-fluid {
  margin: 50px auto;
}

.one {
  font-family: "Fondamento",sans-serif;
  font-size: 2.2rem;
}

.zero {
  font-family: "Fondamento",sans-serif;
  font-size: 1.8rem;
}

.topSpells {
}

.textAsBackground {
  color: #1d1d1d;
}

.spellListA {
  padding: 20px 3% 20px 0;
}

.spellListB {
  padding: 20px 3% 20px 0;
}

.spellItem {
  padding: 14px 0;
  font-size: 0.5rem;
}

.wand {
  width: 180px;
  margin-bottom: 0px;
}

.scatter {
  padding: 20px 0 20px 0;
  text-align: center;
}

.canvas {
  margin-bottom: 50px;
}

.tooltip {
  background: #131313;
  border: 0;
  border-radius: 4px;
  position: absolute;
  text-align: center;
  width: 250px;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  height: auto;
  pointer-events: none;
  padding: 2px;
}

.tooltipSpell {
  background: #131313;
  border: 0;
  border-radius: 4px;
  position: absolute;
  text-align: left;
  width: 350px;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  height: auto;
  pointer-events: none;
  padding: 4px;
}

.lumo {
  color: #56B864;
}

.acci {
  color: #06ADAE;
}

.muff {
  color: #0B97E6;
}

.ridd {
  color: #5A69EE;
}

.expa {
  color: #7363E6;
}

.expe {
  color: #885DDE;
}

.impe {
  color: #9D53D7;
}

.stup {
  color: #AD42C2;
}

.cruc {
  color: #DE116D;
}

.avke {
  color: #DC164E;
}

.colorScaleImage {
  margin-top: 20px;
  width: 70%;
}

.starLegendImage {
  margin-top: 50px;
  width: 58%;
}

.footerLink {
  padding: 10px;
}

/* For some reason this styling didn't work as a class (had to change to an id) */
#bottomContainer {
  background-color: #151515;
  text-align: center;
  padding: 50px;
  margin: 100px 0 0 0;
}
