
/* totally not sure if either of these "main" styles actually does anything */
.main {
  margin: 2.5% 9% 5% 9%;
  padding: 1px 1% 10px 1%;
}

@media (max-width: 500px) {
  .main {
    margin-left: 4%;
    margin-right: 4%;
  }
}



* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  color: #3F3027;
  font-feature-settings: "kern" 1, "onum" 1, "liga" 0;
  background-color: #F4EFED;
  line-height: 1.8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding-bottom: 1rem;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Cabin Sketch', cursive;
  color: #3F3027;
}

p {
  color: #3F3027;
  margin: 1.5rem 0;
}

a {
  /* likely should keep this the same color as the 'footerLink' color below */
  color: #3F3027;
}

a:hover {
  color: #A57F66;
}

.footerLink {
  fill: #3F3027;
}

.footerLink:hover, .tableauLink svg:hover {
  fill: #A57F66;
}

header {
  z-index: 1000;
  margin: 1rem auto;
  max-width: 28rem;
  padding: 1rem;
}

h1, h2 {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

header h1 {
  font-size: 3rem;
}

header h2 {
  font-size: 1.8rem;
  position: relative;
  bottom: 15px;
}


/* GRAPHIC STYLES */

/* wrapper for the scrolly text and viz / svg */
.library__graphic.graphic {
  display: flex;
  padding: 1rem 0;
  margin: 2rem auto;
  width: 1350px;
  flex-direction: row;
  justify-content: space-around;
	position: relative;
}

/* scrolly text entire section */
.graphic__prose {
	position: relative;
	display: block;
	width: 300px;
	top: 60px;
	margin-right: 50px;
}

/* scrolly text - one segment */
.graphic__prose .trigger {
	padding: 0;
	margin: 0;
	min-height: 240px;
}

/* div wrapper for svg */
.graphic__vis {
	position: sticky;
	width: 1000px;
	height: 800px;
	/* if the viewport is larger than 800px, this centers the div vertically */
	/* if the viewport is smaller than that, this anchors the div to the top */
	top: max(0px, calc(50vh - 400px));
	margin-left: 0;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	display: inline-block;
}

.graphic__vis svg {
  background-color: #FAF7F6;
	border: 1px solid #EAE0DB;
	top: 50%;  /* not sure this actually does anything? */
	position: absolute;
	height: 800px;
	width: 1000px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}

/* probably won't need this once I add my own visuals */
.item circle {
	stroke: #666;
	stroke-width: 1px;
	fill: #fff;
}

/* probably won't need this once I add my own visuals */
.item text {
	fill: #666;
	font-size: 12px;
	text-anchor: middle;
	alignment-baseline: middle;
}
