
/* totally not sure if either of these "main" styles actually does anything */
.main {
  margin: 2.5% 9% 5% 9%;
  padding: 1px 1% 10px 1%;
}

@media (max-width: 500px) {
  .main {
    margin-left: 4%;
    margin-right: 4%;
  }
}



* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  color: #3F3027;
  font-feature-settings: "kern" 1, "onum" 1, "liga" 0;
  background-color: #F4EFED;
  line-height: 1.8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 10px;
}

main {
  padding-bottom: 1rem;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Cabin Sketch', cursive;
  color: #3F3027;
}

p {
  color: #3F3027;
  margin: 1.5rem 0;
}

a {
  /* likely should keep this the same color as the 'footerLink' color below */
  color: #4E3C30;
}

a:hover {
  color: #A57F66;
}

.footerLink {
  fill: #4E3C30;
}

.footerLink:hover, .tableauLink svg:hover {
  fill: #A57F66;
}

header {
  z-index: 1000;
  position: relative;
  padding: 1rem 0;
  margin: 2rem auto;
  width: 1360px; /* needs to match width of library__graphic below */
}

h1, h2 {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

header h1 {
  font-size: 4rem;
}

header h2 {
  font-size: 1.8rem;
  position: relative;
  bottom: 15px;
}


/* GRAPHIC STYLES */

/* wrapper for the scrolly text and viz / svg */
.library__graphic.graphic {
  display: flex;
  padding: 1rem 0;
  margin: 2rem auto;
  width: 1360px; /* 300 for prose + 50 margin + 1000 viz container + 10 margin */
  flex-direction: row;
  justify-content: space-around;
	position: relative;
}

/* scrolly text entire section */
.graphic__prose {
	position: relative;
	display: block;
	width: 300px;
	top: 0;
	margin-right: 50px;
}

/* scrolly text - one segment */
.graphic__prose .trigger {
	padding: 0;
	margin: 0;
	min-height: 570px;
  opacity: 0.3;
}

.graphic__prose .trigger.pane2 {
	min-height: 200px;
}

.legendInstructions {
  height: 380px;
}

.graphic__prose .preProse {
  min-height: 260px;
  opacity: 0.3;
}

.graphic__prose .postProse {
  min-height: 200px;
  opacity: 0.3;
}

/* scrolly text - active segment */
.graphic__prose .active {
	opacity: 1; /* overwrites the opacities specified above when 'active' */
}

.cell .swatch { /* opacity for all legend swatches */
  opacity: 0.8;
}

.legendTitle {
  font-size: 0.92rem;
}

.cell .label {
  font-size: 0.85rem;
}

.sizeLegend1 .swatch {
  fill: #176F90;
}

.sizeLegend2 .swatch {
  fill: #A96830;
}

.absoluteWrapper {
  position: absolute;
  height: 100%;
}

#legendIconWrapper {
  position: sticky;
  width: 36px;
  top: 20px;
  padding: 3px;
  background-color: #fbf9f9;
  border: 1px solid #EAE0DB;
  z-index: 1000;
}

#legendIconWrapper:hover {
  background-color: white;
  border: 1px solid #c9ae9f;
}

.legendIconImage {
  width: 100%;
}

.legendHideIconImage {
  width: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
}

#legendWrapper {
  position: sticky;
  width: 240px;
  top: 58px;
  padding: 3px;
  background-color: #fbf9f9;
  border: 1px solid #EAE0DB;
  z-index: 1000;
  opacity: 0;
}

.colorLegend1 svg {
  height: 170px;
}

.sizeLegend1 svg, .sizeLegend2 svg {
  height: 105px;
}


/* div wrapper for svg */
#viz-container {
	position: sticky;
	width: 1000px;
	height: 800px;
	/* if the viewport is larger than 800px, this centers the div vertically */
	/* if the viewport is smaller than that, this anchors the div to the top */
	top: max(0px, calc(50vh - 400px));
	margin-left: 0;
  margin-right: 10px;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	display: inline-block;
  background-color: #fbf9f9;
  border: 1px solid #EAE0DB;
}

#viz-container canvas, #viz-container svg {
	position: absolute;
	height: 800px;
	width: 1000px;
  /* not clear on whether the following attributes were doing anything */
  /* top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%); */
}

.svgForeground, .hiddenCanvas {
  pointer-events: none; /* makes it possible to register 'mousemove' events from mainCanvas */
}

.tooltip {
  background-color: #EAE0DB;
  color: #3F3027;
  border: 0;
  border-radius: 4px;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.1;
  height: auto;
  letter-spacing: 0px;
  opacity: 0;
  padding: 3px 6px;
  pointer-events: none;
  position: absolute;
  text-align: left;
}

.pane1text {
  text-anchor: middle;
  font-size: 1.8rem;
  font-weight: 700;
  font-family: 'Cabin Sketch', cursive;
  fill: #4E3C30;
}

.pane1text.yearCount {
  font-size: 2.4rem;
}

.pane1text.eventCount {
  font-size: 2.2rem;
}

.pane1text.livesCount {
  font-size: 1.6rem;
}

.pane1text.yearCount tspan {
  font-size: 5.2rem;
}

.pane1text.eventCount tspan {
  font-size: 4.4rem;
}

.pane1text.deathCount tspan {
  font-size: 3.8rem;
}

.pane1text.livesCount tspan {
  font-size: 3.6rem;
}
